.dashboard{
}

.col1{
  align-content: center;
  text-align: center;
}

.col2{
  align-content: center;
  text-align: center;
}
/* The sidebar menu */
.sidebar {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0;
 left: 0;
 background-color: #111; /* Black*/
 color: #fff;
 font-size: 25px;
 text-align: center;
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.email {
 font-size: 15px;
 font-weight: 900;
 text-align: center;
 color: #7cf;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
 font-size: 20px;
 cursor: pointer;
 background-color: #111;
 color: white;
 padding: 10px 15px;
 border: none;
}

.openbtn:hover {
 background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left 50000s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidebar {padding-top: 15px;}
 .sidebar a {font-size: 18px;}
}
